.Home-heading1{
    background-color: cadetblue;
    padding: 6px 0;
    text-align: center;
}
.Home-heading2{
    padding: 16px;
    margin-top: 20px;
}
.Home-input{
    padding: 12px 23px;
    border: solid 2px cadetblue;
    border-radius: 0.3rem;
    background: none;
    margin: 24px 0 48px 0;
    color: #fff;
    font-size: 1.2rem;
}

.Home-input::placeholder,.Home-input:focus{
    color: #fff;
    font-family: 'Sen', sans-serif;
    font-size: 1.4rem;
    transition: 0.3s ease-out
}

.Home-start{
    text-decoration: none;
    color: #fff;
    background-color: cadetblue;
    border-radius: 0.3rem;
    padding: 12px 24px;
    font-size: 1.5rem;
}