.Question-text{
    font-size: 1.7rem;
}
.Question-option{
    color: #fff;
    border-radius: 0.3rem;
    padding: 12px 24px;
    font-size: 1.5rem;
    border: none;
}
.Question-list{
    list-style: none;
    margin-top: 44px;
}

@media (max-width:550px){
    .Question-text{
        font-size: 1.3rem;
    }
}