.Test-wrapper{
    margin: 16px;
}

.Test-clock{
    font-size: 2.3rem;
}
.Test-index{
    border: 2px solid cadetblue;
    border-radius: 0.3rem;
    padding: 4px;
    font-size: 1.3rem;
    margin-right: 20px;
}
.Test-chevron-p,.Test-chevron-n,.Test-flag,.Test-clear{
    background: none;
    border: 2px solid cadetblue;
    border-radius: 0.3rem;
    padding: 4px 8px;
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 24px;
    cursor: pointer;
}
.Test-chevron-p,.Test-clear{
    margin-right: 28px;
}

.Test-submit{
    color: #fff;
    border-radius: 0.3rem;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    background-color: #d9534f;
    margin-bottom: 24px;
    cursor: pointer;
}
button:last-child{
    padding: 8px 10px;
}
.Test-button{
    color: #fff;
    border-radius: 0.3rem;
    padding: 8px 16px;
    font-size: 1.5rem;
    border: none;
    margin:0 16px 16px 0;
    cursor: pointer;
}

.Test-end{
    margin: 36px;
}

.Test-retry{
    color: #fff;
    border-radius: 0.3rem;
    padding: 8px 16px;
    font-size: 1.3rem;
    border: none;
    margin-right: 20px;
    background-color: cadetblue;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width:550px){
    .Test-index{
        margin-right: 12px;
    }
}